<?xml version="1.0"?>
<!--
/**
 * Programmerrkt_PageSizeSetter extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE_PSS.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Programmerrkt
 * @package        Programmerrkt_PageSizeSetter
 * @copyright      Copyright (c) 2015   
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config> 
    <modules>
	    <Programmerrkt_PageSizeSetter>
	        <version>1.0.0</version>
	    </Programmerrkt_PageSizeSetter>
    </modules>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <set_page_size_category>
                        <type>singleton</type>
                        <class>programmerrkt_pagesizesetter/observer</class>
                        <method>setPageSizeForCategory</method>
                    </set_page_size_category>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <global>
        <models>
            <programmerrkt_pagesizesetter>
                <class>Programmerrkt_PageSizeSetter_Model</class>
            </programmerrkt_pagesizesetter>
        </models>
    </global>
</config>